.containerImg{
    width: 100%;
    height: 70%;
}
a{
    text-decoration: none;
    color: black;
}

@media (max-width: 500px) {
    .button{
        margin: 0 auto;
    }
}

@media (max-width:550px) {
    .allprod{
        flex-direction: column;
        justify-content: center;
    }
    .imgDiv{
        width: 100%;
    }
    .infoDiv{
        width: 100%;
    }
}