*{
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
nav{
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 100;
    width: 100%;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:active{
    text-decoration: none;
    color: black;
}
#navUl{
    display: none;
}

.navButton{
    border-bottom: 1px solid black;
    display: none;
}
img{
    width: 50px;
    height: 50px;
}
.burger{
    z-index: 100;
}
.burger-line{
 height: 6px;
 width: 30px;
 background-color: black;
 margin-top: 4px;
 border-radius: 8px;
}
.menuItem{
    border-bottom: 1px solid black;
    width: 150px;
    text-align: center;
}
.display{
    display: none;
}

video{
    width: 100%;
    height: 100%;
    z-index: -1;
}

.videoContainer{
    position: relative;
}
.videoText{
    position: absolute;
    top: 20%;
    left: 20%;
    color: white;
}
.containerImg{
    width: 100px;
    height: 100px;
} 

.shadow{
    box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
}
iframe{
    height: 40vh;
}
#logo{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
#CRlogo{
    width: 10px;
    height: 10px;
}
#menu{
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    width: 100vw;
    background-color:#F0F0F0 ;
}
ul{
    list-style: none;
 
}
.allProdLink{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}
.allProdLink:active{
    color: black;
}
.allProdLink:hover{
    box-shadow: 0px 0px 25px 9px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
color: black;
}
#menu a{
    text-decoration: none;
    color: black;
}
footer{
    font-family: 'Ubuntu', sans-serif;
    background-color: #F0F0F0;
}
.CR{
    background-color: #F0F0F0;
}
@media (min-width: 500px) {
    #menu{
        width: 250px;
        height: 100vh;
        padding: 20px;
        right: 0;
    }
    #cartItems{
        width: 250px;
        height: 100vh;
        padding: 20px;
        right: 0;
    }
}
@media (min-width:750px) {
    .navButton{
        display: block;
    }
    #navUl{
        display: flex;
    }
    #burger{
        display: none;
    }
    #menu{
        display: none;
    }
    
}
.logIn {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 8%;
    background-color: rgba(0, 0, 0, 0.5); 
}
.signUp {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 8%;
    background-color: rgba(0, 0, 0, 0.5); 
}
  
#logInChild {
    background-color: #EEEEEE;
    padding: 100px;
    border: 1px solid black;
    border-radius: 8px;
    margin:auto;
    height: 80%;
}
#logIn{
    border: 1px solid black;
}

button{
    width: 100px;
    padding: 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

@media (max-width:900px) {
    #logInChild {
       width: 50%;
    }
}
@media (max-width:600px) {
    #logInChild {
       width: 80%;
    }
}
@media (max-width:400px) {
    #logInChild {
       width: 100%;
    }
}

.shopCart{
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    width: 100vw;
    background-color:#F0F0F0 ;
}
#removeBtn{
    width: 100%;
    border: 1px solid black;
    margin:0;
}
.purchase{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
    padding: 10px;
}
.purchase:hover{
    color: black;
}

/* .content{
    border: 1px solid black;
    padding: 76px;
    position: relative;
    overflow: hidden;
} */
.content{
    border: 1px solid black;
    padding: 20px;
    }
/* #clothes {
    position: absolute; 
    top: 10%; 
    left: 4%; 
    animation: move-image 10s linear infinite; 
  } */
  
  /* @keyframes move-image {
    0% {
      left:4%; 
    }
    50% {
        left: -65%;
    }
    100% {
      right: 100%;
    }
  } */
.header{
    transform: translateX(-150%);
    letter-spacing: 10px;
    transition: transform ease 0.5s;
  }

.show{
    transform: translateX(0) rotate(-90deg);
  }


.header2{
    transform: translateX(150%);
    letter-spacing: 10px;
    transition: transform ease 0.5s;
}
.show2{
    transform: translateX(0) rotate(90deg);
}
@media (max-width: 768px) {
    .header{
        transform: translateX(-150%);
        letter-spacing: 10px;
        transition: transform ease 0.5s;
      }
    
    .show{
        transform: translateX(0);
      }
    
    
    .header2{
        transform: translateX(150%);
        letter-spacing: 10px;
        transition: transform ease 0.5s;
    }
    .show2{
        transform: translateX(0);
    }
    }
  